@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Kiralama Oluştur</h2>

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rolModal">
    Yeni Kiralama Oluştur
</button>
<div id="divKiralamalar"></div>
<div class="modal fade" id="rolModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Kitap Bilgileri</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label for="inputKitapId" class="form-label">KitapId</label>
                <input type="text" id="inputKitapId" class="form-control">

                <label for="inputKullaniciId" class="form-label">KullaniciId</label>
                <input type="text" id="inputKullaniciId" class="form-control">

                <label for="inputKiralamaTarih" class="form-label">Kiralama Başlangıç Tarihi</label>
                <input type="text" id="inputKiralamaTarih" class="form-control">

                <label for="inputBitisTarih" class="form-label">Kiralama Bitis Tarihi</label>
                <input type="text" id="inputBitisTarih" class="form-control">

                <input type="hidden" id="inputGeriVerisTarih" class="form-control" value="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                <button type="button" class="btn btn-primary" onclick="KiralamaKaydet()">Kaydet</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/personel/kiralama.js" asp-append-version="true"></script>
