@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Kullanıcı Ekle</h2>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kullaniciModal">
    Yeni kullanici Ekle
</button>
<div id="divKullanicilar"></div>
    


    <div class="modal fade" id="kullaniciModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Kullanıcı Bilgileri</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                <label for="inputKullaniciAd" class="form-label">Kullanıcı Adı</label>
                    <input type="text" id="inputKullaniciAd" class="form-control">

                <label for="inputKullaniciSoyad" class="form-label">Kullanıcı Soyadı</label>
                <input type="text" id="inputKullaniciSoyad" class="form-control">

                <label for="inputEmail" class="form-label">Email</label>
                    <input type="email" id="inputEmail" class="form-control">

                    <label for="inputSifre" class="form-label">Sifre</label>
                <input type="password" id="inputSifre" class="form-control">

                <label for="inputTelNo" class="form-label">Tel No</label>
                    <input type="text" id="inputTelNo" class="form-control">
                    <br>
                <div class="form-label">
                <label for="selectRolId" class="form-label">Rol Seçiniz</label>
                <select id="selectRolId" >
                </select>
                </div>

                <label for="inputAdres" class="form-label">Adres</label>
                    <input type="text" id="inputAdres" class="form-control">
                </div>
            <input class="form-check-input" type="checkbox" id="inputAktifMi">
            <label class="form-check-label" for="inputAktifMi">
                Aktif Mi?
            </label>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeç</button>
                    <button type="button" class="btn btn-primary" onclick="KullaniciKaydet()">Kaydet</button>
                </div>
            </div>
        </div>
    </div>
<script src="~/js/personel/kullaniciekle.js" asp-append-version="true"></script>
