@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2>Kullanıcı Ekle</h2>

<div id="divKullanicilar">
<script src="~/js/personel/kullaniciekle.js" asp-append-version="true"></script>
