@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<h2> Yeni Kitap Ekle</h2>




    <label for="inputKitapAdi">Kitap İsmi</label>
    <input type="text" id="inputKitapAdi"> 


    <button type="submit" class ="btn btn-success" onclick="Kitap()"> Ekle</button>



<script src="~/js/personel/Yeni.js"></script>