@{
    ViewData["Title"] = "Home Page";
}

    <table style="width:90%">
         
        <tr>
            <td colspan="8"><img src="img/banner.jpg" style="width:100%;"></td>
        </tr>

        <tr>
            <td colspan="8" style="padding:20px 10px;"><h2>Book Categories</h2></td>
        </tr>

        <tr>
            <td colspan="2" style="padding:5px 10px;">
                <img src="img/cat1.webp" style="width:330px; height:300px;">
                <h3>Art & Photography</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/cat2.webp" style="width:330px; height:300px;">
                <h3>Crime & Thriller</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/cat3.jpg" style="width:330px; height:300px;">
                <h3>Science Fiction</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/cat4.jfif" style="width:330px; height:300px;">
                <h3>Fantasy & Horror</h3>
            </td>
        </tr>
        <tr>
            <td colspan="8" style="padding:20px 10px;"><h2>Best Selling Books</h2></td>
        </tr>

        <tr>
            <td style="padding:5px 10px;">
                <img src="img/book1.jpg" style="height:200px;">
                <h4>Help Me Find My Stomach</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book2.jpg" style="height:200px;">
                <h4>Let The Good Times Roll Up</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book3.jpg" style="height:200px;">
                <h4>Help Me Find My Stomach</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book4.jpg" style="height:200px;">
                <h4>Drive Safely, No Bumping</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book5.jpg" style="height:200px;">
                <h4>Let The Good Times Roll Up</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book6.jpg" style="height:200px;">
                <h4>Our State Fair Is A Great State Fair</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book7.jpg" style="height:200px;">
                <h4>Help Me Find My Stomach</h4>
            </td>

            <td style="padding:5px 10px;">
                <img src="img/book8.jpg" style="height:200px;">
                <h4>Help Me Find My Stomach</h4>
            </td>
        </tr>

        <tr>
            <td colspan="8" style="padding:20px 10px;"><h2>Authors</h2></td>
        </tr>

        <tr>
            <td colspan="2" style="padding:5px 10px;">
                <img src="img/author1.png" style="width:330px; height:300px;">
                <h3>Chinua Achebe</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/author2.png" style="width:330px; height:300px;">
                <h3>Julian Baggini</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/author3.png" style="width:330px; height:300px;">
                <h3>Quentin Blake</h3>
            </td>

            <td colspan="2" style="padding:5px 10px;">
                <img src="img/author4.png" style="width:330px; height:300px;">
                <h3>Saul Bellow</h3>
            </td>


        </tr>

    </table>
</div>
