@{
    ViewData["Title"] = "Home Page";
}

    <table style="width:90%">
         <h2 style="color:black"> Kütüphane Web Sitemize Hoş Geldiniz...</h2>
        <tr>
            <td colspan="8"><img src="img/banner.jpg" style="width:100%;"></td>
        </tr>
    @await Component.InvokeAsync("Kitap")
    </table>

